body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  background: black;
}

.field {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 100px "Brush Script MT";
}

#message {
  margin-top: 50px;
  font: 20px Menlo, Monaco, "Courier New", monospace;
}